* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  color: black; }

img {
  width: 100%;
  display: block; }

h1, h2, h3, p {
  text-align: center; }

h1.title {
  font-size: 4em;
  line-height: 1em;
  color: #9cc6a4;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #1c110a;
  position: relative;
  z-index: 2; }

.break {
  border-top: 3px solid #67597a;
  margin-top: 30px; }

p.subtitle {
  color: #414535;
  background: linear-gradient(90deg, transparent, #7b929d, transparent);
  font-size: 1.5em;
  padding: 10px;
  position: relative;
  top: -8px;
  z-index: 1;
  letter-spacing: 5px; }

footer p {
  color: #9cc6a4; }

article h3 {
  font-size: 1.5em;
  color: #9cc6a4;
  position: absolute;
  top: 75%;
  right: unset;
  left: 50%;
  bottom: unset;
  transform: translate(-50%, -50%); }

section, div {
  padding: 5px; }

main {
  max-width: 1200px;
  margin: auto; }
  main div.intro {
    max-width: 600px;
    border: 3px solid #67597a;
    border-radius: 10px;
    margin: 30px auto; }
    main div.intro img {
      max-width: 300px; }
    @media screen and (min-width: 500px) {
      main div.intro {
        display: flex;
        align-items: center; }
        main div.intro img {
          width: 30%; } }

footer {
  background: #1c110a;
  padding: 50px; }

section.take-action *:not(button) {
  margin: 5px;
  text-align: center; }

button {
  display: block;
  margin: auto;
  padding: 10px;
  background: #414535;
  color: #9cc6a4;
  font-size: 1em; }

header.top-bar {
  display: flex;
  align-items: center;
  height: 100px;
  background: #7b929d; }
  @media screen and (min-width: 500px) {
    header.top-bar {
      justify-content: space-between; }
      header.top-bar * {
        margin: 0; }
      header.top-bar div {
        display: flex;
        height: 100%;
        align-items: center; }
        header.top-bar div h2 {
          display: block;
          padding: 20px; } }
  header.top-bar img.logo {
    width: 75px; }
    @media screen and (min-width: 500px) {
      header.top-bar img.logo {
        width: 100px; } }
  header.top-bar nav a {
    padding-right: 15px; }
    @media screen and (min-width: 500px) {
      header.top-bar nav a {
        padding-right: 30px; } }
  header.top-bar h2 {
    display: none; }

section.hero {
  background-size: cover;
  background-position: center;
  min-height: 100px;
  background-image: url(../img/portland-skyline.jpg);
  padding: calc(25vh - 100px) 25px calc(75vh - 100px);
  text-align: center; }
  @media screen and (min-width: 500px) {
    section.hero {
      padding: 100px; } }
  @media screen and (min-width: 900px) {
    section.hero {
      padding: 150px; } }

@media screen and (min-width: 900px) {
  div.panels {
    display: flex; } }
div.panels article.panel {
  padding: 5px;
  border: 3px solid #67597a;
  border-radius: 10px;
  margin: 10px auto; }
  div.panels article.panel img {
    border-radius: 50%;
    width: 66%;
    border: 3px solid #67597a; }
  @media screen and (min-width: 500px) {
    div.panels article.panel {
      display: flex;
      align-items: center; }
      div.panels article.panel p {
        width: 70%; }
      div.panels article.panel:nth-of-type(even) div {
        order: 1; }
      div.panels article.panel img {
        width: 100%; } }
  @media screen and (min-width: 900px) {
    div.panels article.panel {
      width: 30%;
      display: block; }
      div.panels article.panel p {
        width: 100%; }
      div.panels article.panel div {
        min-width: 100%; } }
  div.panels article.panel div {
    position: relative; }
    @media screen and (min-width: 500px) {
      div.panels article.panel div {
        width: 30%; } }

/*# sourceMappingURL=styles.css.map */
