section, div {
  padding: $content-padding;
  margin: $content-margin-y auto;
}

main {
  max-width: 1200px;
  margin: auto;
  div.intro {
    border: $border-style;
    border-radius: $border-radius;
    img {
      max-width: 300px;
    }
  }
}
footer {
  background: $dark;
  padding: 50px;
}
