section, div {
  padding: $content-padding;
}
main {
  max-width: 1200px;
  margin: auto;
  div.intro {
    max-width: 600px;
    border: $border-style;
    border-radius: $border-radius;
    margin: 30px auto;
    img {
      max-width: 300px;
    }
    @media #{$tablet} {
      display: flex;
      align-items: center;
      img {
        width: 30%
      }
    }
  }
}
footer {
  background: $dark;
  padding: 50px;
}
section.take-action *:not(button) {
  margin: 5px;
  text-align: center;
}
button {
  display: block;
  margin: auto;
  padding: 10px;
  background: $brown;
  color: $green;
  font-size: 1em;
}
