header.top-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background: $gray;
  @media #{$tablet} {
    justify-content: space-between;
  }
  img.logo {
    width: 75px;
    @media #{$tablet} {
      width: 100px;
    }
  }
  nav {
    a {
      padding-right: 15px;
      @media #{$tablet} {
        padding-right: 30px;
      }
    }
  }
}
