section.hero {
  @include bg-img-style;
  background-image: url(../img/portland-skyline.jpg);
  padding: calc(25vh - 100px) 25px calc(75vh - 100px);
  text-align: center;
  @media #{$tablet} {
    padding: 100px;
  }
}
