// colors
$gray: #7b929d;
$dark: #1c110a;
$green: #9cc6a4;
$purple: #67597a;
$brown: #414535;

$stroke-color: $dark;
$header-color: $green;
$subtitle-color: $gray;
$border-color: $purple;

//layout
$content-padding: 5px;
$border-style: 3px solid $border-color;
$border-radius: 10px;

// breakpoints
$tablet: 'screen and (min-width: 500px)';
$desktop: 'screen and (min-width: 900px)';
